{% extends "base.html" %}
{% from "macros.html" import render_pagination, render_job, render_company %}

{% block title %}Home{% endblock %}

{% block head %}
<div class="jombotron">
    <div class="container">
        <h1>JUBPLUS</h1>
        <p>领先的互联网求职，招聘平台</p>
    </div>
</div>
{% endblock %}


{% block body %}
<ul class="nav nav-tabs list-title">
    <li role="presentation" class="active"><a href="#">最新工作</a></li>
</ul>

<div class="job-list">
    {% for job in newest_jobs %}
        {{ render_job(job)}}
    {% endfor %}
</div>

<p class="list-mort">
<a href="#" class="btn btn-success btn-lg list-more-btn ">查看更多</a>
</p>



<ul class="nav nav-tabs list-title">
    <li role="presentation" class="active"><a href="#">最新公司</a></li>
</ul>

<div class="job-list">
    {% for company in newest_companys %}
        {{ render_company(company)}}
    {% endfor %}
</div>

<p class="list-mort">
<a href="#" class="btn btn-success btn-lg list-more-btn ">查看更多</a>
</p>


{% endblock %}
